body{
background-color: whitesmoke;
margin: 0% auto;
}

#navbar {background-color: red;
width: 100%;
height: 75px;}

ul{list-style: none;}


li{font-size: 20px;
text-transform: uppercase;}

#caixaUm{ background-color: rgb(224, 6, 6);
    width: 200px;
height: 200px;}

#caixaDois{ background-color: rgb(233, 47, 47);
width: 200px;
height: 200px;}
